.poker-table-portfolio {
  background-color: #006633;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.card {
  position: absolute;
  perspective: 1000px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.card.dealt {
  opacity: 1;
}
.card-back {
  background-color: #f0f0f0;
  border: 2px solid #000;
  transform: rotateY(180deg);
  color: #000;
}
.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-front {
  background-color: white;
  border: 2px solid #000;
}



.card h2 {
  font-size: 1em;
  margin: 0;
  text-align: center;
}

.card p {
  font-size: 0.8em;
  margin: 0.5em 0 0;
  text-align: center;
}

.card-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.card-popup {
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  height: 80vh;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.card-popup-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px;
}

.card-popup h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.card-popup p {
  margin-bottom: 1rem;
  text-align: left;
  font-size: 75%;
}

.card-popup button {
  align-self: flex-end;
  padding: 1rem 3rem;
  background-color: #015e2fc9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  cursor: 'pointer';

}

.card-popup button:hover {
  background-color: #022915;
}

@media (max-width: 768px) {
  .card-popup {
    width: 95%;
    height: 90vh;
    padding: 1.5rem;
  }
}

@media (max-height: 600px) {
  .card-popup {
    height: 95vh;
  }
}